@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import "tailwindcss";

:root {
  --primary: #d4ef59;
  --ring: #d4ef59;
  --primary-foreground: #060709;
  --background: #060709;
  --foreground: #ffffff;
  --destructive: #ff433e;
  --destructive-foreground: #ffffff;
  --accent: #0f1015;
  --accent-foreground: #ffffff;
  --muted: #ffffff30;
  --muted-foreground: #ffffff70;
  --border: #ffffff10;
  --radius: 1.6rem;
  --font-sans: Outfit, ui-sans-serif, sans-serif, system-ui;
}

@theme inline {
  --font-sans: var(--font-sans);
  --color-primary: var(--primary);
  --color-ring: var(--ring);
  --color-primary-foreground: var(--primary-foreground);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-border: var(--border);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply font-sans bg-background text-foreground;
  }
  html {
    @apply font-sans;
  }
}
